{% extends 'hospital/base.html' %}
{% block content %}
<h2 class="fw-bold text-center">Contact Us</h2>
<p class="text-center">Phone: 0703449132</p>
<p class="text-center">Email: medpearl@gmail.com</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7727587921113!2d36.834320174953056!3d-1.3117327356544086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11a7c6bd6dcf%3A0xebbc1823f1441c20!2sMedpearl%20South%20Hospital!5e0!3m2!1sen!2ske!4v1764944842184!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}